<p id="notice"><%= notice %></p>

<h1>Listing Toreads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toreads.each do |toread| %>
      <tr>
        <td><%= toread.title %></td>
        <td><%= toread.description %></td>
        <td><%= toread.read %></td>
        <td><%= link_to 'Show', toread %></td>
        <td><%= link_to 'Edit', edit_toread_path(toread) %></td>
        <td><%= link_to 'Destroy', toread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toread', new_toread_path %>
